.spinner {
  width: 36px;
  height: 36px;
  border: 5px solid #fffc;
  border-top-color: #eb0a1e;
  border-radius: 100%;
  animation: spin 1s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
