.car-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.car-name {
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
  color: #000000;
  transition: color 0.2s ease;
}

.car-name.highlighted {
  color: #eb0a1e;
}

.car-info {
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  color: #191919;
  letter-spacing: -0.28px;
  font-size: 14px;

  /*margin-bottom: 16px;*/
}

.car-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  margin-bottom: 16px;
}

.car-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.view-model-button {
  padding: 8px 32px;
  border: 1px solid #191919;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.07px;
  font-weight: 600;
  color: #191919;
  border-radius: 40px;
  background: none;
  cursor: pointer;
  transition:
    opacity 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;
  font-family: "Montserrat";
  opacity: 0;
  visibility: hidden;
}

.view-model-button.visible {
  opacity: 1;
  visibility: visible;
}

.view-model-button:hover {
  background-color: #191919;
  color: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {
  .car-card {
    padding: 0 16px;
  }

  .car-name {
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    order: 1;
  }

  .car-info {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: auto;
    order: 2;
    margin-bottom: 8px;
  }

  .car-image-container {
    order: 3;
    max-width: 280px;
    margin-bottom: 0;
  }
  .view-model-button {
    order: 4;
  }
}
