.header {
  border-bottom: 1px solid #d8d8d8;
  background-color: #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-link {
  padding-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #191919;
  text-decoration: none;
  transition: color 0.2s ease;
  position: relative;
  display: inline-block; /* Esto es importante para que el ::after funcione bien */
}

.nav-link:hover {
  color: #eb0a1e;
}

.nav-link.active {
  color: #eb0a1e;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #eb0a1e;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.nav-link.active::after {
  transform: scaleX(1);
}
.menu-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #191919;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-text {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  color: #191919;
  line-height: auto;
}

/* Navbar responsiva */
@media (max-width: 768px) {
  .header-container {
    padding: 12px 16px;
  }

  .nav {
    display: none;
  }

  .menu-text {
    display: none;
  }

  .header-left {
    gap: 0;
  }
}
