.app {
  width: 100%;
  max-width: 1440px;
  /*min-height: 1284px;*/
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto;
}

.main-content {
  flex: 1;
  padding: 48px 80px;
}

.main-title {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: bold;
  color: #191919;
  margin-bottom: 40px;
}

.filter-section {
  margin-bottom: 70px;
}

.detail-content {
  padding: 0;
}

.no-model-selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  padding: 48px;
  height: calc(100vh - 128px);
}

.no-model-selected button {
  margin-top: 16px;
  padding: 8px 24px;
  background: none;
  border: 1px solid #191919;
  border-radius: 40px;
  cursor: pointer;
  font-family: "Montserrat";
  transition: all 0.2s ease;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.07px;
  font-weight: 600;
}

.no-model-selected button:hover {
  background-color: #191919;
  color: #ffffff;
}

@media (max-width: 768px) {
  .app {
    width: 100%;
    min-height: auto;
  }

  .main-content {
    padding: 24px 16px;
    height: 100vh;
  }
  .detail-content {
    padding: 0;
  }

  .main-title {
    font-size: 35px;
    letter-spacing: -0.7px;
    line-height: 44px;
    margin-bottom: 24px;
  }

  .filter-section {
    margin-bottom: 50px;
  }
}
